<%- include('users/headers.ejs') %>


<body>
    <div class="back">
        <a href="/setting"><button><i class="fa fa-arrow-left" aria-hidden="true"></a></i></button></a>
        <h2 style="margin-left: 150px;">About</h2>
    </div>
    <div class="contain">
        <div class="about">
            <i class="fa fa-universal-access" aria-hidden="true"></i>
            <h5>Version 3.14.1(3149328)</h5>
            <h4>Your app version is up to date</h4>
        </div>
            <div class="all-in">
                <div class="flex-me">
                    <i class="fa fa-sticky-note" aria-hidden="true"></i>
                    <h2>Terms & Conditions</h2>
                    <button style="margin-left: 110px;"><i class="fa fa-arrow-right" aria-hidden="true"></a></i>
                </div>
                <div class="flex-me">
                    <i class="fa fa-sticky-note" aria-hidden="true"></i>
                    <h2>Private Policy</h2>
                    <button style="margin-left: 160px;"><i class="fa fa-arrow-right" aria-hidden="true"></a></i>
                </div>
        
            </div>
    
    </div>


<%- include('users/footer.ejs') %>
