<%- include('users/headers.ejs') %>
<body>
    <div class="back">
        <a href="/timeline"><button><i class="fa fa-arrow-left" aria-hidden="true"></a></i></button></a>
        <h2 style="margin-left: 130px;">Airtime</h2>
    </div>

    <div class="amount">
        <div class="number">
            <input type="number" placeholder="Enter number">
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="voucher">
            <h2>$100</h2>
            <p>Airtime voucher</p>
        </div>
        <div>
            <div class="plans">
                <h2>Top Up</h2>
                <div id="hot" class="hot">
                    <div class="flex-2">
                        <aside class="two-1">
                            <h1>$50</h1>
                            <h5>$1 OFF</h5>
                        </aside>
                        <aside class="two-1">
                            <h1>$100</h1>
                            <h5>$2 OFF</h5>
                        </aside>
                        <aside class="two-1">
                            <h1>$200</h1>
                            <h5>$4 OFF</h5>
                        </aside>
            
                    </div>
                    <div class="flex-3">
                        <aside class="two-1">
                            <h1>$500</h1>
                            <h5>$10 OFF</h5>
                        </aside>
                        <aside class="two-1">
                            <h1>$1,000</h1>
                            <h5>$20 OFF</h5>
                        </aside>
                        <aside class="two-1">
                            <h1>$2,00</h1>
                            <h5>$40 OFF</h5>
                        </aside>
                        
                    </div>
        
            </div>
        </div>
        <div class="pay">
            <input type="number" placeholder="$ 50-500,000">
            <a href="/enterpin-2"><button>Pay</button></a>
        </div>
    </div>

<%- include('users/footer.ejs') %>
