<%- include('users/headers.ejs') %>

<body>
    <div class="back">
        <a href="/timeline"><button><i class="fa fa-arrow-left" aria-hidden="true"></a></i></button></a>
        <h2>Buy Data</h2>
    </div>

    <div class="plans">
        
        <nav>
            <ul>
                <li>
                    <a href="/data">Hot</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/daily">Daily</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/weekly">Weekly</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/monthly">Monthly</a>
                </li>
            </ul>

        </nav>

        <div class="hot">
            <div class="flex-2">
                <aside class="two-1">
                    <h1>100MB</h1>
                    <P>
                        1 Day <br>
                        $ 100
                    </P>
                    <h5>$3 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>200MB</h1>
                    <P>
                        3 Days
                        $ 200
                    </P>
                    <h5>$6 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>1GB</h1>
                    <P>
                        1 Day
                        $ 350
                    </P>
                    <h5>$10.5 OFF</h5>
                </aside>
    
            </div>
            <div class="flex-3">
                <aside class="two-1">
                    <h1>2.5GB</h1>
                    <P>
                        2 Days <br>
                        $ 600
                    </P>
                    <h5>$18 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>1GB</h1>
                    <P>
                        7 Days
                        $ 600
                    </P>
                    <h5>$18 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>1.25GB</h1>
                    <P>
                        30 Days
                        $ 1,000
                    </P>
                    <h5>$30 OFF</h5>
                </aside>
                
            </div>
            <div class="flex-4">
                <aside class="two-1">
                    <h1>7GB</h1>
                    <P>
                        7 Days <br>
                        $ 2,000
                    </P>
                    <h5>$60 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>5GB</h1>
                    <P>
                        7 Days
                        $ 1,500
                    </P>
                    <h5>$45 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>3GB</h1>
                    <P>
                        30 Days
                        $ 1,000
                    </P>
                    <h5>$48 OFF</h5>
                </aside>

            </div>
            <div class="flex-5">
                <aside class="two-1">
                    <h1>4GB</h1>
                    <P>
                        30 Days <br>
                        $ 2,000
                    </P>
                    <h5>$60 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>10GB</h1>
                    <P>
                        30 Days
                        $ 3,500
                    </P>
                    <h5>$105 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>12GB</h1>
                    <P>
                        30 Days
                        $ 4,000
                    </P>
                    <h5>$120 OFF</h5>
                </aside>

            </div>


    </div>

<%- include('users/footer.ejs') %>
