<%- include('users/headers.ejs') %>

<body>
    <div class="FP">
        <a href="/payment"><button><i class="fa fa-arrow-left" aria-hidden="true"></a></i></button></a>
        <h1>Forgot Pin</h1>
        <p>select which contact detail you want <br> to use to reset your password</p>
        <div class="div-1">
            <aside>
                <i class="fa fa-home" aria-hidden="true"></i>
            </aside>
            <a href="https//www.email.login.com"><h6>Email</h6></a>
            <p>send to your email</p>
        </div>
        <div class="div-2">
            <aside>
                <i class="fa fa-phone" aria-hidden="true"></i>
            </aside>
            <a href=""><h6>Phone Number</h6></a>
            <p>send to your phone number</p>
        </div>
    </div>

<%- include('users/footer.ejs') %>
