<%- include('users/headers.ejs') %>
    <div class="home">
        <div class="logo">
            <img src="images/logobg.png" alt="">
            <h2>Pay bank</h2>
        </div>    
        <img src="images/person-card.jpeg" alt=""> 
        <h3>Simple way to <br> Online Banking</h3>
        <p>Make your busy life much easier <br> using our banking service </p>
        <aside>
            <h6>Get Started</h6>
            <a href="signup"><button><i class="fa fa-arrow-right" aria-hidden="true"></a></i></button></a>
        </aside>
    </div>
    
<%- include('users/footer.ejs') %>


