<%- include('users/headers.ejs') %>

<body>
    <div class="back">
        <a href="/timeline"><button><i class="fa fa-arrow-left" aria-hidden="true"></a></i></button></a>
        <h2 style="margin-left: 130px;">Monthly</h2>
    </div>

    <div class="plans">
        <nav>
            <ul>
                <li>
                    <a href="/data" target="">Hot</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/daily" target="_self">Daily</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/weekly">Weekly</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/monthly">Monthly</a>
                </li>
            </ul>

        </nav>
        <div id="hot" class="hot">
            <div class="flex-2">
                <aside class="two-1">
                    <h1>1.2GB</h1>
                    <P>
                        30 Day <br>
                        $ 1,000
                    </P>
                    <h5>$3 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>1.5GB</h1>
                    <P>
                        30 Days
                        $ 1,200
                    </P>
                    <h5>$36 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>3GB</h1>
                    <P>
                        30 Day
                        $ 1,600
                    </P>
                    <h5>$48 OFF</h5>
                </aside>
    
            </div>
            <div class="flex-3">
                <aside class="two-1">
                    <h1>4GB</h1>
                    <P>
                        30 Days <br>
                        $ 2,000
                    </P>
                    <h5>$60 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>6GB</h1>
                    <P>
                        30 Days
                        $ 3,000
                    </P>
                    <h5>$90 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>10GB</h1>
                    <P>
                        30 Days
                        $ 3,500
                    </P>
                    <h5>$105 OFF</h5>
                </aside>
                
            </div>
            <div class="flex-4">
                <aside class="two-1">
                    <h1>12GB</h1>
                    <P>
                        30 Days <br>
                        $ 4,000
                    </P>
                    <h5>$120 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>11GB</h1>
                    <P>
                        30 Days
                        $ 3,500
                    </P>
                    <h5>$105 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>20GB</h1>
                    <P>
                        30 Days
                        $ 5,500
                    </P>
                    <h5>$165 OFF</h5>
                </aside>

            </div>
            <div class="flex-5">
                <aside class="two-1">
                    <h1>13GB</h1>
                    <P>
                        30 Days <br>
                        $ 4,000
                    </P>
                    <h5>$120 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>25GB</h1>
                    <P>
                        30 Days
                        $ 6,500
                    </P>
                    <h5>$195 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>27GB</h1>
                    <P>
                        30 Days
                        $ 6,500
                    </P>
                    <h5>$195 OFF</h5>
                </aside>

            </div>
            <div id="hot" class="hot">
                <div class="flex-2">
                    <aside class="two-1">
                        <h1>22GB</h1>
                        <P>
                            30 Day <br>
                            $ 5,500
                        </P>
                        <h5>$165 OFF</h5>
                    </aside>
                    <aside class="two-1">
                        <h1>40GB</h1>
                        <P>
                            30 Days
                            $ 11,000
                        </P>
                        <h5>$330 OFF</h5>
                    </aside>
                    <aside class="two-1">
                        <h1>75GB</h1>
                        <P>
                            30 Day
                            $ 16,000
                        </P>
                        <h5>$480 OFF</h5>
                    </aside>
        
                </div>
                <div class="flex-3">
                    <aside class="two-1">
                        <h1>120GB</h1>
                        <P>
                            30 Days <br>
                            $ 22,000
                        </P>
                        <h5>$660 OFF</h5>
                    </aside>
                    <aside class="two-1">
                        <h1>25GB</h1>
                        <P>
                            30 Days
                            $ 10,000
                        </P>
                        <h5>$300 OFF</h5>
                    </aside>
                    <aside class="two-1">
                        <h1>35GB</h1>
                        <P>
                            30 Days
                            $ 13,500
                        </P>
                        <h5>$405 OFF</h5>
                    </aside>
                    
                </div>
                <div class="flex-4">
                    <aside class="two-1">
                        <h1>12GB</h1>
                        <P>
                            30 Days <br>
                            $ 4,000
                        </P>
                        <h5>$120 OFF</h5>
                    </aside>
                    <aside class="two-1">
                        <h1>11GB</h1>
                        <P>
                            30 Days
                            $ 3,500
                        </P>
                        <h5>$105 OFF</h5>
                    </aside>
                    <aside class="two-1">
                        <h1>20GB</h1>
                        <P>
                            30 Days
                            $ 5,500
                        </P>
                        <h5>$165 OFF</h5>
                    </aside>
    
                </div>
                <div class="flex-5">
                    <aside class="two-1">
                        <h1>13GB</h1>
                        <P>
                            30 Days <br>
                            $ 4,000
                        </P>
                        <h5>$120 OFF</h5>
                    </aside>
                    <aside class="two-1">
                        <h1>25GB</h1>
                        <P>
                            30 Days
                            $ 6,500
                        </P>
                        <h5>$195 OFF</h5>
                    </aside>
                    <aside class="two-1">
                        <h1>27GB</h1>
                        <P>
                            30 Days
                            $ 6,500
                        </P>
                        <h5>$195 OFF</h5>
                    </aside>
    
                </div>
        </div>

<%- include('users/footer.ejs') %>
