<%- include('users/headers.ejs') %>

<body>
    <div class="back">
        <a href="/timeline"><button><i class="fa fa-arrow-left" aria-hidden="true"></a></i></button></a>
        <h2>Other Bank</h2>
    </div>

    <div class="recipient">
        <h5>Free transfer for the day: 3 </h5>
    </div>

    <div class="r-account">
        <aside class="account">
            <h4>Recipient Account</h4>
            <input type="text" placeholder="Enter 10 digits Account Number">    
        </aside>
        <aside class="select-bank">
            <input type="text" placeholder="Select Bank">
        </aside>
        <a href="/enterpin-2"><button><h3>Next</h3></button></a>
        <h4>Recents</h4>    
    </div>

    <div class="ben">
        <img src="images/profile-2.jpeg" alt="">
        <aside>
            <h4>SA'ADATU SANI GADANYA</h4>
            <P>9034180452</P>
        </aside>
    </div>
    <div class="ben">
        <img src="images/profile-2.jpeg" alt="">
        <aside>
            <h4>ASMA'U IBRAHIM USMAN</h4>
            <P>9083736363</P>
        </aside>

<%- include('users/footer.ejs') %>
