<%- include('users/headers.ejs') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>My Node.Js App</title>
</head>
<body>
    <div class="back">
        <a href="/changepin"><button><i class="fa fa-arrow-left" aria-hidden="true"></a></i></button></a>
    </div>

    <div class="successful">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <p>successful</p>
        <button>Print Reciept</button>
    </div>

<%- include('users/footer.ejs') %>
