<%- include('users/headers.ejs') %>

<body>
    <div class="back">
        <a href="/timeline"><button><i class="fa fa-arrow-left" aria-hidden="true"></a></i></button></a>
        <h2>Transfer</h2>
    </div>

    <div class="choose">
        <aside class="pay">
            <a href="/transfer-1"><i class="fa fa-user" aria-hidden="true"></i></a>
            <h6>To Bank</h6>
        </aside>
        <aside class="send">
            <a href="/other"><i class="fa fa-home" aria-hidden="true"></i></a>
            <h6>To Other</h6>
        </aside>
    </div>

    <div class="recipient">
        <h3>Recipient Account</h3>
        <input type="text" placeholder="Phone No/ Gados Account No / Name">
        <h5>Instant, Zero Issues, Free </h5>
        <h4>Beneficiaries</h4>
    </div>

    <div class="ben">
        <img src="images/profile-2.jpeg" alt="">
        <aside>
            <h4>SA'ADATU SANI GADANYA</h4>
            <P>9034180452</P>
        </aside>
    </div>
    <div class="ben">
        <img src="images/profile-2.jpeg" alt="">
        <aside>
            <h4>ASMA'U IBRAHIM USMAN</h4>
            <P>9083736363</P>
        </aside>
    </div>
    <div class="ben">
        <img src="images/profile-2.jpeg" alt="">
        <aside>
            <h4>MARYAM FARAGAI</h4>
            <P>8037182543</P>
        </aside>
    </div>
    <div class="ben">
        <img src="images/profile-2.jpeg" alt="">
        <aside>
            <h4>MUKHTAR SANI GADANYA</h4>
            <P>7033145396</P>
        </aside>
    </div>

<%- include('users/footer.ejs') %>
