<%- include('users/headers.ejs') %>


<body>
    <div class="back">
        <a href="/timeline"><button><i class="fa fa-arrow-left" aria-hidden="true"></a></i></button></a>
        <h2 style="margin-left: 140px;">Weekly</h2>
    </div>
    <div class="plans">
        <nav>
            <ul>
                <li>
                    <a href="/data" target="">Hot</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/daily" target="_self">Daily</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/weekly">Weekly</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/monthly">Monthly</a>
                </li>
            </ul>

        </nav>

        <div id="hot" class="hot">
            <div class="flex-2">
                <aside class="two-1">
                    <h1>1GB</h1>
                    <P>
                        7 Day <br>
                        $ 600
                    </P>
                    <h5>$18 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>7GB</h1>
                    <P>
                        7 Days
                        $ 2,000
                    </P>
                    <h5>$60 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>5GB</h1>
                    <P>
                        7 Day
                        $ 1,500
                    </P>
                    <h5>$45 OFF</h5>
                </aside>
    
            </div>
            <div class="flex-3">
                <aside class="two-1">
                    <h1>50MB</h1>
                    <P>
                        7 Days <br>
                        $ 50
                    </P>
                    <h5>$1.5 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>750MB</h1>
                    <P>
                        14 Days
                        $ 500
                    </P>
                    <h5>$15 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>50MB</h1>
                    <P>
                        7 Days
                        $ 300
                    </P>
                    <h5>$9 OFF</h5>
                </aside>
                
            </div>
            <div class="flex-4">
                <aside class="two-1">
                    <h1>350MB</h1>
                    <P>
                        7 Days <br>
                        $ 300
                    </P>
                    <h5>$9 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>100MB</h1>
                    <P>
                        7 Days
                        $ 500
                    </P>
                    <h5>$15 OFF</h5>
                </aside>
                <aside class="two-1">
                    <h1>700MB</h1>
                    <P>
                        7 Days
                        $ 500
                    </P>
                    <h5>$15 OFF</h5>
                </aside>

            </div>


    </div>

<%- include('users/footer.ejs') %>
