<%- include('users/headers.ejs') %>

<body>
    <div class="back">
        <a href="/timeline"><button><i class="fa fa-arrow-left" aria-hidden="true"></a></i></button></a>
        <h2 style="margin-left: 130px;">withdraw</h2>
    </div>

    <div class="merchants">
        <aside class="one-1">
            <i class="fa fa-home" aria-hidden="true"></i>
        </aside>
        <aside class="one-2">
            <h3>Withdraw via gados merchants </h3>
            <p>send moneyn to an gados merchant's <br>
            wallet and get cash equivalent</p>    
        </aside>
    </div>

    <div class="gados">
        <aside class="one-1">
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
        </aside>
        <aside class="one-2">
            <h3>Withdraw with gados Card </h3>
        </aside>
    </div>
    <div class="gados">
        <aside class="one-1">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </aside>
        <aside class="one-2">
            <h3>click here to find nearby merchant or ATM</h3>
        </aside>
    </div>


<%- include('users/footer.ejs') %>
